In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import matplotlib.pyplot as plt

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2022-06-09 00:46:45,-53.1500,-70.9167,33.91,80,40,17.27
1,1,Hermanus,ZA,2022-06-09 00:46:45,-34.4187,19.2345,62.80,86,0,10.27
2,2,Ahuimanu,US,2022-06-09 00:46:45,21.4447,-157.8378,85.75,60,75,14.97
3,3,Waingapu,ID,2022-06-09 00:46:46,-9.6567,120.2641,83.37,71,39,13.31
4,4,Nouadhibou,MR,2022-06-09 00:46:46,20.9310,-17.0347,67.98,83,100,10.36

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Ahuimanu,US,2022-06-09 00:46:45,21.4447,-157.8378,85.75,60,75,14.97
3,3,Waingapu,ID,2022-06-09 00:46:46,-9.6567,120.2641,83.37,71,39,13.31
11,11,Mundra,IN,2022-06-09 00:46:49,22.8500,69.7333,83.48,75,47,18.30
14,14,Cairns,AU,2022-06-09 00:46:50,-16.9167,145.7667,78.12,60,100,18.41
19,19,Vaini,TO,2022-06-09 00:46:51,-21.2000,-175.2000,80.76,69,40,4.61
20,20,Georgetown,MY,2022-06-09 00:45:13,5.4112,100.3354,82.33,88,20,3.44
24,24,Barentu,ER,2022-06-09 00:46:53,15.1139,37.5928,75.58,57,4,7.40
30,30,Jadu,LY,2022-06-09 00:46:55,31.9530,12.0261,75.97,30,100,6.46
38,38,Katobu,ID,2022-06-09 00:46:57,-4.9408,122.5276,81.05,81,100,2.98
42,42,Alofi,NU,2022-06-09 00:46:59,-19.0595,-169.9187,78.69,69,40,13.80

In [15]:
preferred_cities_df.count()

City_ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2     Ahuimanu      US     85.75  21.4447 -157.8378
3     Waingapu      ID     83.37  -9.6567  120.2641
11      Mundra      IN     83.48  22.8500   69.7333
14      Cairns      AU     78.12 -16.9167  145.7667
19       Vaini      TO     80.76 -21.2000 -175.2000
20  Georgetown      MY     82.33   5.4112  100.3354
24     Barentu      ER     75.58  15.1139   37.5928
30        Jadu      LY     75.97  31.9530   12.0261
38      Katobu      ID     81.05  -4.9408  122.5276
42       Alofi      NU     78.69 -19.0595 -169.9187

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.tail()

,City,Country,Max Temp,Lat,Lng,Hotel Name
564,Lompoc,US,78.01,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
567,Dodge City,US,76.93,37.7528,-100.0171,Windsor Inn & Suites
570,Tecolutla,MX,83.52,20.4833,-97.0167,Hotel Plaza Marsol
572,Kpandae,GH,75.74,8.4689,-0.0113,S. Amaski Guest House
573,Itarema,BR,76.03,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))